beautifulsoup4==4.10.0
bokeh==2.4.2
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==2.0.0
conda==4.10.3
conda-build==3.21.5
conda-package-handling==1.7.3
cryptography==3.4.7
cycler==0.10.0
cytoolz==0.11.0
dask==2021.10.0
distributed==2021.10.0
filelock==3.0.12
fonttools==4.25.0
fpdf==1.7.2
fsspec==2022.1.0
glob2==0.7
HeapDict==1.0.1
idna==3.2
importlib-metadata==4.8.1
Jinja2==2.11.3
joblib==1.1.0
kiwisolver==1.3.1
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==2.0.1
matplotlib==3.4.2
munkres==1.1.4
numba==0.53.1
numexpr==2.7.3
numpy==1.21.2
olefile==0.46
packaging==21.3
pandas==1.3.2
partd==1.2.0
Pillow==8.3.1
pip==21.0.1
pkginfo==1.7.1
psutil==5.8.0
pycosat==0.6.3
pycparser==2.20
pynndescent==0.5.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
scikit-learn
scipy==1.7.1
seaborn==0.11.2
setuptools==58.0.4
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.2.1
tblib==1.7.0
threadpoolctl==3.0.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.62.2
typing-extensions==3.10.0.2
umap-learn==0.5.1
urllib3==1.26.6
wheel==0.37.0
zict==2.0.0
zipp==3.6.0
# mkl-fft
# mkl-random
# msgpack
# mkl-service==2.4.0
# libarchive-c
# ruamel-yaml-conda
